@model PackageIndexViewModel
@{
    int colCount = 0;
}

<div class="page-banner package-index-banner"></div>

<h1 class="page-title">Travel Packages</h1>

<div class="container">
    <div class="container">
        <form asp-action="Index" asp-controller="Package" method="post">
            <div class="row">
                <div class="col-lg-11">
                    <div class="input-group">
                        <input type="text" asp-for="SearchQuery" class="form-control" placeholder="Search" />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">

                </div>
                <div class="col-lg-2">

                </div>
            </div>
        </form>
    </div>
    <hr />

    @foreach (var item in Model.Packages)
    {
        @if (colCount == 3)
        {
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-default package">
                        <div class="panel-heading">
                            <h3>@item.Name</h3>
                        </div>
                        <div class="panel-body">
                            <img src="~/@item.PhotoLocation" alt="Image Error" class="package-img" />
                        </div>
                        <div class="panel-footer">
                            <h5>$@item.Price</h5>
                            <div class="row">
                                <div class="col-lg-12">
                                    <a asp-action="PackageDetails" asp-controller="Package" asp-route-id="@item.ID" class="btn btn-info">Details</a>
                                </div>
                            </div>
                            @if (User.IsInRole("TravelProvider"))
                            {
                                <div class="row provider-package-options">
                                    <div class="col-lg-6">
                                        <a asp-action="UpdatePackage" asp-controller="Package" asp-route-id="@item.ID" class="glyphicon glyphicon-pencil btn btn-warning"></a>
                                    </div>
                                    <div class="col-lg-6">
                                        <form asp-action="DiscontinuePackage" asp-controller="Package" asp-route-id="@item.ID" method="post"><button type="submit" class="glyphicon glyphicon-trash btn btn-danger"></button></form>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div asp-action="PackageDetails" asp-controller="Package" asp-route-id="@item.ID" class="panel panel-default package">
                    <div class="panel-heading">
                        <h2>@item.Name</h2>
                    </div>
                    <div class="panel-body">
                        <img src="~/@item.PhotoLocation" alt="Image Error" class="package-img" />
                    </div>
                    <div class="panel-footer">
                        <h3>$@item.Price</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <a asp-action="PackageDetails" asp-controller="Package" asp-route-id="@item.ID" class="btn btn-info">Details</a>
                            </div>
                        </div>
                        @if (User.IsInRole("TravelProvider"))
                        {
                            <div class="row provider-package-options">
                                <div class="col-lg-6">
                                    <a asp-action="UpdatePackage" asp-controller="Package" asp-route-id="@item.ID" class="glyphicon glyphicon-pencil btn btn-warning"></a>
                                </div>
                                <div class="col-lg-6">
                                    <form asp-action="DiscontinuePackage" asp-controller="Package" asp-route-id="@item.ID" method="post"><button type="submit" class="glyphicon glyphicon-trash btn btn-danger"></button></form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>


@if (User.IsInRole("TravelProvider"))
{
    <a asp-action="AddPackage" asp-controller="Package" class="glyphicon glyphicon-plus"></a>
}
