@model PackageDetailsViewModel

<h1>@Model.Package.Name</h1>

<h3>$@Model.Package.Price</h3>

<p>@Model.Package.Description</p>

<h5>Comments:</h5>

<ul>
    @foreach (var item in Model.PackageFeedback)
    {
        <li>
            <strong>@item.UserName</strong> - @item.Rating Stars
            <i>@item.Comment</i>
            - @item.Date
        </li>
    }
</ul>

<a asp-action="BookPackage" asp-controller="Booking" asp-route-id="@Model.Package.ID">Book Now</a>
