@model PackageDetailsViewModel

<div class="page-banner details-banner"></div>
<h1 class="page-title">Details</h1>


<div class="container">
    <div class="row">
        <h2>@Model.Package.Name </h2>

        <div class="col-lg-8">
            <h3>$@Model.Package.Price</h3>

            <img src="~/@Model.Package.PhotoLocation" class="img-responsive" alt="Alternate Text" />
            <br />

            <p><strong>Description: </strong> @Model.Package.Description</p>

            <form asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@Model.Package.ID" method="post">
                <button type="submit" class="btn btn-success">Add to cart</button>
            </form>

            <hr />

            <form asp-action="PackageDetails" asp-controller="Package" asp-route-id="@Model.Package.ID" method="post">
                <div class="form-group">
                    <label>leave feedback</label>
                    <input class="form-control" asp-for="@Model.Comment" type="text" rows="3" />


                    <button class="btn btn-info">Post</button>
                </div>
            </form>
            <h5>@Model.CommentCount Comments</h5>

            @foreach (var item in Model.PackageFeedback)
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <img src="~/@item.Profile.DisplayPhotoPath" alt="error" class="img-responsive img-thumbnail" />
                            </div>
                            <div class="col-lg-10">
                                <p ><strong>@item.Profile.DisplayName</strong></p>
                                <p>@item.Comment</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-body">
                        <div class="row thumb-group" >
                            <div class="col-lg-6">
                                <div class="btn btn-success thumb">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="btn btn-danger thumb">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-4">
            <h3>Other Packages</h3>

            @foreach (var item in Model.OtherPackages)
            {
                <div class="panel panel-default package">
                    <div class="panel-heading">
                        <h3>@item.Name</h3>
                    </div>
                    <div class="panel-body">
                        <img src="~/@item.PhotoLocation" alt="Image Error" class="package-img" />
                    </div>
                    <div class="panel-footer">
                        <h5>$@item.Price</h5>
                        <div class="row">
                            <div class="col-lg-12">
                                <a asp-action="PackageDetails" asp-controller="Package" asp-route-id="@item.ID" class="btn btn-info">Details</a>
                            </div>
                        </div>
                        @if (User.IsInRole("TravelProvider"))
                        {
                            <div class="row provider-package-options">
                                <div class="col-lg-6">
                                    <a asp-action="UpdatePackage" asp-controller="Package" asp-route-id="@item.ID" class="glyphicon glyphicon-pencil btn btn-warning"></a>
                                </div>
                                <div class="col-lg-6">
                                    <form asp-action="DiscontinuePackage" asp-controller="Package" asp-route-id="@item.ID" method="post"><button type="submit" class="glyphicon glyphicon-trash btn btn-danger"></button></form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>


